---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <p>
    Powered by
    <a href="https://docs.flightphp.com" target="_blank">
      Flight
      <span id="flight-version"></span>
    </a>
    +
    <a href="https://astro.build" target="_blank">
      Astro
      <span id="astro-version"></span>
    </a>
  </p>
</Layout>

<script>
  import { fetch } from "@/utilities";

  const $flightVersion = document.querySelector("#flight-version");
  const $astroVersion = document.querySelector("#astro-version");

  fetch("./api/versions")
    .then((response) => response.json())
    .then((body) => {
      $flightVersion!.innerHTML = body[0];
      $astroVersion!.innerHTML = body[1];
    });
</script>
